<div class="full-height-container slc-black-background">
  <div class="landing-page-container">
    <div style="display: inline">
      <h1 class="slc-white-text">Hey there,</h1>
      <h1 class="slc-light-grey-text">I'm Yannick!</h1>
      <p class="slc-white-text">Passionate <span class="slc-yellow-text">Coder</span> and <span class="slc-yellow-text">Space</span>
        Aficionado</p>
    </div>
    <div style="display: inline">
      <img src="../assets/rocket.png" class="rocket-container">
    </div>
  </div>
</div>
