<div class="full-height-container slc-black-background">
  <div
    style="display: flex; width: 70%; height: 100%; justify-content: space-between; margin: 0 auto; align-items: center">
    <div style="display: inline">
      <h1 style="font-size: 5rem;" class="slc-white-text">Hey there,</h1>
      <h1 style="font-size: 5rem;" class="slc-light-grey-text">I'm Yannick!</h1>
      <p class="slc-white-text">Passionate <span class="slc-yellow-text">Coder</span> and <span class="slc-yellow-text">Space</span>
        Aficionado</p>
    </div>
    <div style="display: inline">
      <img src="../assets/rocket.png" class="rocket-container" style="width: 90%">
    </div>
  </div>
</div>

<div class="full-height-container" id="my-work">
</div>
